3270/Natural-Libraries/LIB/Resources/HJC_WebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by EntireX Web Service Plug-in , Version 8.2.0.0000-0347 -->
<!-- WSDL from IDL generator, Version 8.2.0.0000-0347 on 12.04.2011 13:31:22 -->
<definitions name="HJC_WebService" targetNamespace="http://namespace.softwareag.com/entirex/xml/mapping"
   xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
   xmlns:tns="http://namespace.softwareag.com/entirex/xml/mapping" xmlns:sn0="urn:com-softwareag-entirex-rpc:Subprograms">
   <types>
      <xsd:schema targetNamespace="urn:com-softwareag-entirex-rpc:Subprograms">
         <xsd:element name="HJC-S">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="MAP-TABLE">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="M-LAST_NAME">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="string" minOccurs="1" maxOccurs="10" type="xsd:string"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="M-CITY">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="string" minOccurs="1" maxOccurs="10" type="xsd:string"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="M-KEY">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="string" minOccurs="1" maxOccurs="10" type="xsd:string"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="M-DATE-OF-BIRTH">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="string" minOccurs="1" maxOccurs="10" type="xsd:string"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="M-SURNAME">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="string" minOccurs="1" maxOccurs="10" type="xsd:string"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="M-SELECTION">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="string" minOccurs="1" maxOccurs="10" type="xsd:string"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CL-KEY">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:length value="20"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="CL-AUX">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:length value="20"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="T-PAGING">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="string" minOccurs="1" maxOccurs="21" type="xsd:string"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="INDX-PAGING">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                           <xsd:totalDigits value="2"/>
                           <xsd:fractionDigits value="0"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="MESSAGE">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                           <xsd:totalDigits value="4"/>
                           <xsd:fractionDigits value="0"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="ERR-MESSAGE">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:length value="80"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="ERR-CODE" type="xsd:int"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="HJC-SResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="MAP-TABLE">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="M-LAST_NAME">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="string" minOccurs="1" maxOccurs="10" type="xsd:string"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="M-CITY">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="string" minOccurs="1" maxOccurs="10" type="xsd:string"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="M-KEY">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="string" minOccurs="1" maxOccurs="10" type="xsd:string"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="M-DATE-OF-BIRTH">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="string" minOccurs="1" maxOccurs="10" type="xsd:string"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="M-SURNAME">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="string" minOccurs="1" maxOccurs="10" type="xsd:string"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                           <xsd:element name="M-SELECTION">
                              <xsd:complexType>
                                 <xsd:sequence>
                                    <xsd:element name="string" minOccurs="1" maxOccurs="10" type="xsd:string"/>
                                 </xsd:sequence>
                              </xsd:complexType>
                           </xsd:element>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="CL-KEY">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:length value="20"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="CL-AUX">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:length value="20"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="T-PAGING">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="string" minOccurs="1" maxOccurs="21" type="xsd:string"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="INDX-PAGING">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                           <xsd:totalDigits value="2"/>
                           <xsd:fractionDigits value="0"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="MESSAGE">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                           <xsd:totalDigits value="4"/>
                           <xsd:fractionDigits value="0"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="ERR-MESSAGE">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:length value="80"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="ERR-CODE" type="xsd:int"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </types>
   <message name="HJC-SSoapIn">
      <part name="parameters" element="sn0:HJC-S"/>
   </message>
   <message name="HJC-SSoapOut">
      <part name="parameters" element="sn0:HJC-SResponse"/>
   </message>
   <portType name="SubprogramsPort">
      <operation name="HJC-S">
         <input message="tns:HJC-SSoapIn"/>
         <output message="tns:HJC-SSoapOut"/>
      </operation>
   </portType>
   <binding name="SubprogramsSOAP11Binding" type="tns:SubprogramsPort">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="HJC-S">
         <soap:operation soapAction="HJC-S"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
   </binding>
   <binding name="SubprogramsSOAP12Binding" type="tns:SubprogramsPort">
      <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="HJC-S">
         <soap12:operation soapAction="HJC-S"/>
         <input>
            <soap12:body use="literal"/>
         </input>
         <output>
            <soap12:body use="literal"/>
         </output>
      </operation>
   </binding>
   <service name="HJC_WebService">
      <port name="SubprogramsSOAP11Port" binding="tns:SubprogramsSOAP11Binding">
         <soap:address location="http://localhost:10010/wsstack/services/HJC_WebService"/>
      </port>
      <port name="SubprogramsSOAP12Port" binding="tns:SubprogramsSOAP12Binding">
         <soap12:address location="http://localhost:10010/wsstack/services/HJC_WebService"/>
      </port>
   </service>
</definitions>
