3270/Natural-Libraries/LIB/Resources/subserv.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by EntireX Web Service Plug-in , Version 8.2.0.0000-0347 -->
<!-- WSDL from IDL generator, Version 8.2.0.0000-0347 on 12.04.2011 16:58:47 -->
<definitions name="subserv" targetNamespace="http://namespace.softwareag.com/entirex/xml/mapping"
   xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
   xmlns:tns="http://namespace.softwareag.com/entirex/xml/mapping" xmlns:sn0="urn:com-softwareag-entirex-rpc:Subprograms">
   <types>
      <xsd:schema targetNamespace="urn:com-softwareag-entirex-rpc:Subprograms">
         <xsd:element name="SUB">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="_IN" type="xsd:string"/>
                  <xsd:element name="_OUT" type="xsd:string"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="SUBResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="_IN" type="xsd:string"/>
                  <xsd:element name="_OUT" type="xsd:string"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </types>
   <message name="SUBSoapIn">
      <part name="parameters" element="sn0:SUB"/>
   </message>
   <message name="SUBSoapOut">
      <part name="parameters" element="sn0:SUBResponse"/>
   </message>
   <portType name="SubprogramsPort">
      <operation name="SUB">
         <input message="tns:SUBSoapIn"/>
         <output message="tns:SUBSoapOut"/>
      </operation>
   </portType>
   <binding name="SubprogramsSOAP11Binding" type="tns:SubprogramsPort">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="SUB">
         <soap:operation soapAction="SUB"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
   </binding>
   <binding name="SubprogramsSOAP12Binding" type="tns:SubprogramsPort">
      <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="SUB">
         <soap12:operation soapAction="SUB"/>
         <input>
            <soap12:body use="literal"/>
         </input>
         <output>
            <soap12:body use="literal"/>
         </output>
      </operation>
   </binding>
   <service name="subserv">
      <port name="SubprogramsSOAP11Port" binding="tns:SubprogramsSOAP11Binding">
         <soap:address location="http://localhost:10010/wsstack/services/Subprograms"/>
      </port>
      <port name="SubprogramsSOAP12Port" binding="tns:SubprogramsSOAP12Binding">
         <soap12:address location="http://localhost:10010/wsstack/services/Subprograms"/>
      </port>
   </service>
</definitions>
