SICRUISES/Natural-Libraries/CRUISE16/Resources/cogetDet.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated from Software AG EntireX Web Service Plug-in Version 9.10.0.0.380 on Tue Jul 05 17:39:52 CEST 2016--><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sn0="urn:com-softwareag-entirex-rpc:CRUISE16-COGET-N" xmlns:tns="http://namespace.softwareag.com/entirex/xml/mapping" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="cogetDet" targetNamespace="http://namespace.softwareag.com/entirex/xml/mapping">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:com-softwareag-entirex-rpc:CRUISE16-COGET-N">
      <xsd:element name="COGET-N">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="P-COM">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="P-LANG" minOccurs="0">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="P-USER" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="P-PASSWORD" minOccurs="0" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="P-SELECTION">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="P-CONTRACT-ID" minOccurs="0" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="COGET-NResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="P-RESPONSE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="P-RSPCODE" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="P-RSPTXT" minOccurs="0" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="P-CONTRACT-DATA">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="CONTRACT-ID" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="PRICE" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="DATE-CANCELLATION" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="DATE-RESERVATION" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="DATE-BOOKING" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="ID-CUSTOMER" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="ID-CRUISE" minOccurs="0" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="P-CONTRACT-ADDDATA">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="CUSTOMER-NAME" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="CRUISE-DATE" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="CRUISE-ROUTE" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="YACHT-NAME" minOccurs="0" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="COGET-NSoapIn">
    <wsdl:part name="parameters" element="sn0:COGET-N"/>
  </wsdl:message>
  <wsdl:message name="COGET-NSoapOut">
    <wsdl:part name="parameters" element="sn0:COGET-NResponse"/>
  </wsdl:message>
  <wsdl:portType name="CRUISE16Port">
    <wsdl:operation name="COGET-N">
      <wsdl:input message="tns:COGET-NSoapIn"/>
      <wsdl:output message="tns:COGET-NSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CRUISE16SOAP11Binding" type="tns:CRUISE16Port">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="COGET-N">
      <soap:operation soapAction="COGET-N"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CRUISE16SOAP12Binding" type="tns:CRUISE16Port">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="COGET-N">
      <soap12:operation soapAction="COGET-N"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="cogetDet">
    <wsdl:port name="CRUISE16SOAP11Port" binding="tns:CRUISE16SOAP11Binding">
      <soap:address location="http://localhost:10010/wsstack/services/cogetDet"/>
    </wsdl:port>
    <wsdl:port name="CRUISE16SOAP12Port" binding="tns:CRUISE16SOAP12Binding">
      <soap12:address location="http://localhost:10010/wsstack/services/cogetDet"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
